body {
    background: linear-gradient(blueviolet, red);
}

.grille {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 1fr 17fr 1fr;
    grid-template-areas:
        "h h"
        "m a"
        "f f";
    background-color: white;
    border: solid;
}
#KB2{
    width: 70%;
    margin: auto;
}

.cellule {
    padding: 16px;
    border: solid 1px;
}

.main {
    grid-area: m;
}

.footer {
    grid-area: f;
    background-color: gray;
}

.aside {
    grid-area: a;
}

#asideSTF {
    background-color: rgba(255, 0, 0, 0.63);
}

#asideARK {
    background-color: rgba(98, 173, 235, 0.87);
}

.header {
    grid-area: h;
    background-color: black;

}

img {
    max-width: 350px;
    margin: auto;
}

figure {
    background-color: white;
    border: solid black 1px;
    padding: 10px;
    width: fit-content;
    float: left;
    margin: 10px;
}

article {
    display: inline-block;
}

.linkTop {
    display: inline-block;
    padding: 16px;
}

nav a {

    color: white;
    padding: 16px;
    text-decoration: none;

}

#right {
    float: right;
}

#left {
    float: left;
}

footer span {
    float: right;
}

footer a {
    text-decoration: none;
    color: black
}



ul li {
    padding: 16px;
}

ul a {
    color: white;
    text-decoration: none;
}

a:hover {
    color: white;
    background-color: aqua;
}

#index {
    margin-left: 50%;
    text-decoration: underline;
}
div.gallery {
    margin: auto;
    margin-top: 32px;
    margin-bottom: 32px;
    border: none;
   
    width: 180px;
    opacity: 50%;
    font-size: 0px;
  }
  
  div.gallery:hover {
    opacity: 100%;
    width: fit-content;
    height: 100%;

  }
  
  div.gallery img {
    width: 100%;
    height: auto;
    
  }
.gallery:hover{
 font-size: 16px;
 background-color: aqua;
 margin: auto;
}
figcaption{
    margin: auto;
margin-top: 0px;
margin-bottom: 0px;    
}
#background_img{
    background-image: linear-gradient();
}
.Favicon_im{
    float: left;
}
#facicon_grid{
    display: grid;
    grid-template-rows:repeat(3,1fr);
    grid-template-columns: repeat(2,1fr);
}.Favicon_im img{
    border-radius: 32px;
    height: 64px;
    width: 64px;
}
#aside_KB2{
    background-color: coral;
}
#facicon_grid div{
    margin: 24px
}
li ul{
    list-style: none;
}